<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.1" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.1.1" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.8.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net461" />
  <package id="StatefulModel" version="0.6.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
</packages>